<a href="https://colab.research.google.com/github/saranyadevi076/Data-Science/blob/main/ARITHMETIC_OPERATOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
y=20
sum = x+y
print(sum)

30

In [ ]:
subtract=y-x
subtract

10

In [ ]:
product = x*y
product

200

In [ ]:
div = x/y
print(div)

0.5

In [ ]:
mod = x%y #### Give the remainder 
print(mod)

10

In [ ]:
x=2
y=3
expo=x**y
print(expo)

8

In [ ]:
x=4   ##### Only give the quotient without the decimal
y=3
floor=x//y
print(floor)

1