<a href="https://colab.research.google.com/github/saranyadevi076/Data-Science/blob/main/SEP_12_TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


TUPLE
1. Allows heterogenus
2. immutable
3. retreive the data using index value
4. represnts the elements with () brackets



*

In [1]:
t1=(1,3.3,48,"hello",1+3j) #### heterogenus concept
t1

(1, 3.3, 48, 'hello', (1+3j))

In [2]:
type(t1)

tuple

In [4]:
t1[4]

(1+3j)

In [6]:
t1[0]=1  ## cant be immutable

TypeError: ignored

In [7]:
t2=10,20,30,40,50
type(t2)

tuple

In [8]:
t3=10,20,30,40,50,3.5,"hi"
type(t3)

tuple



ACCESSING TUPLE
1. Append the tuple
2. removing the elements in the tuple
3.  Updating elements(Since tuple is immutable, we need to change to list and then add the items)

In [9]:
t4=("a","b","c","d")
print(t4[2])

c

In [11]:
t5=(10,20,"hello",1+3j)
l1=list(t5)                  ##### Change the Tuple to List
l1.append("saranya")         #####  append the list now
print(l1)

[10, 20, 'hello', (1+3j), 'saranya']

In [12]:
t5=(10,20,"hello",1+3j)   ##### Tuple is immutable
t5.append("saranya")

AttributeError: ignored

In [14]:
t5=(10,20,"hello",1+3j)  ### cant remove the elements
t5.remove("hello")
print(t5)

AttributeError: ignored

In [15]:
t5=(10,20,"hello",1+3j)  ### Tuple cant insert value
t5.insert(2,"insert")
print(t5)

AttributeError: ignored

In [16]:
t6=(5,4,7,8,9)   #### cant sort the tuple value
t6.sort()

AttributeError: ignored

In [17]:
t6.index(7)  ### Can find the index value

2

In [18]:
#### Remove item from list from specified index   ### DOesnt support pop
t6.pop(2)

AttributeError: ignored